.row {
    margin-bottom: 3px;
}

.info {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
}

.a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
}

.price {
    font-size: 1.5em;
    font-weight: bolder;
}

h5 {
    width: 100%;
}