<div class="card">
    <div class="card-block">
        <h4 class="card-title">Trade History</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{currencyPair?.symbol}}</h6>
        <table class="table table-striped  table-bordered table-sm ">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Profit/Loss</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>