.tradeBlock {
    border-bottom: 1px dotted white;
    padding: 2px;
}

.row {
    margin: 2px 0 2px 0;
}

.chart {
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.data {
    font-size: .7em;
    color: white;
}

.currencyblock {
    width: 100%;
}

.btn {
    z-index: 3;
}

.col-md-6 {
    padding: 0px 20px 0px 20px;
}

a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
}